.ft0{font-weight:bold;font-size:11px;font-family:Times New Roman;}
.ft2{font-size:11px;font-family:Times New Roman;}
.ft3{font-weight:bold;font-size:16px;font-family:Arial;}
.ft4{font-weight:bold;font-size:19px;font-family:Times New Roman;}
.ft5{font-weight:bold;font-size:12px;font-family:Times New Roman;}
.ft7{font-style:italic;font-size:12px;font-family:Times New Roman;}
