.ft0{font-size:11px;font-family:Arial;}
.ft1{font-weight:bold;font-size:16px;font-family:Arial;}
.ft2{font-weight:bold;font-size:19px;font-family:Arial;color:#ffffff;}
.ft3{font-weight:bold;font-size:12px;font-family:Arial;}
.ft4{font-size:13px;font-family:Arial;}
.ft5{font-style:italic;font-weight:bold;font-size:13px;font-family:Arial;}