.ft0{font-style:normal;font-weight:bold;font-size:13px;font-family:Arial;color:#000000;}
.ft2{font-style:normal;font-weight:normal;font-size:11px;font-family:Times New Roman;color:#000000;}
.ft3{font-style:normal;font-weight:bold;font-size:11px;font-family:Times New Roman;color:#000000;}
.ft4{font-style:normal;font-weight:bold;font-size:16px;font-family:Arial;color:#000000;}
.ft5{font-style:normal;font-weight:bold;font-size:11px;font-family:Times New Roman;color:#0000ff;}
.ft6{font-style:normal;font-weight:bold;font-size:19px;font-family:Times New Roman;color:#000000;}
.ft7{font-style:normal;font-weight:bold;font-size:12px;font-family:Times New Roman;color:#000000;}
