body, html {
        scrollbar-base-color: #99CCFF;
        }        
body{
        margin: 0;
        background:#FFFFFF;
        font-size: 12px;
        font-family: verdana; sans-serif; padding-left:2px; padding-right:2px; padding-top:2px; padding-bottom:2px
        }
table {
        border-color:gray;
        align:center;
        border-collapse:collapse;
        }
td {
        margin: 0;
        font-size: 12px;
        font-family: verdana; sans-serif; padding-left:10px; padding-right:10px; padding-top:5px; padding-bottom:5px
        }
        
a { padding:4px; background:#000000; }
a:link { color: #009; background:transparent; border:none; font-weight:bold; }
a:visited { color: #006; background:transparent; border:none; }
a:hover { background: #99CCFF; }
a img { border:none }

h1, h2, .h2, h3, h4, h6 {
        margin:1.2em 0; color:#000066;
        font-family:verdana; sans-serif 
        }
h1 {
        clear:both;
        font-size:23px;
        text-align:center;
        margin: 1em 0;
        padding-top: 30px;
        padding-bottom: 20px;
        border-bottom: 4px solid #99CCFF;
        }
h2 {
        font-size:18px;
        padding: 0.5em;
        border-bottom:  4px solid #99CCFF;
        }
.h2 {
        font-size:18px;
        padding: 0.5em;
        border-top:  4px solid #99CCFF;
        }
h3 { font-size:15px }
h4 { font-size:10px  }
h6 { font-size:10px  }

p {
        line-height: 0.8em;
        }

li {
        font-family:verdana; sans-serif; font-size:12px;
        margin-top:0.5em
        }
